In [1]:
import pandas as pd

In [2]:
orchard = [
    {"name": "apple", "image": "üçè"},
    {"name": "pear", "image": "üçê"},
    {"name": "tomato", "image": "üçÖ"},
    {"name": "lemon", "image": "üçã"},
]

garden = [
    {"name": "tomato", "color": "red", "image": "üçÖ"},
    {"name": "potato", "color": "brown", "image": "ü•î"},
    {"name": "carrot", "color": "orange", "image": "ü•ï"}
]

fruits = pd.DataFrame(orchard)
veggies = pd.DataFrame(garden)

In [3]:
fruits

     name image
0   apple     üçè
1    pear     üçê
2  tomato     üçÖ
3   lemon     üçã

In [5]:
veggies

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï

In [6]:
pd.concat([fruits, veggies])

     name image   color
0   apple     üçè     NaN
1    pear     üçê     NaN
2  tomato     üçÖ     NaN
3   lemon     üçã     NaN
0  tomato     üçÖ     red
1  potato     ü•î   brown
2  carrot     ü•ï  orange

In [6]:
pd.concat([veggies, fruits])

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï
0   apple     NaN     üçè
1    pear     NaN     üçê
2  tomato     NaN     üçÖ
3   lemon     NaN     üçã

In [7]:
pd.concat?

In [8]:
pd.concat([fruits, veggies], axis="columns")

     name image    name   color image
0   apple     üçè  tomato     red     üçÖ
1    pear     üçê  potato   brown     ü•î
2  tomato     üçÖ  carrot  orange     ü•ï
3   lemon     üçã     NaN     NaN   NaN

In [9]:
pd.concat?

In [10]:
pd.concat([fruits, veggies], axis="columns", keys=["fruits", "veggies"])

   fruits       veggies
     name image    name   color image
0   apple     üçè  tomato     red     üçÖ
1    pear     üçê  potato   brown     ü•î
2  tomato     üçÖ  carrot  orange     ü•ï
3   lemon     üçã     NaN     NaN   NaN

In [11]:
pd.concat([fruits, veggies], axis="rows", keys=["fruits", "veggies"])

             name image   color
fruits  0   apple     üçè     NaN
        1    pear     üçê     NaN
        2  tomato     üçÖ     NaN
        3   lemon     üçã     NaN
veggies 0  tomato     üçÖ     red
        1  potato     ü•î   brown
        2  carrot     ü•ï  orange

In [12]:
single = pd.concat([fruits, veggies])

In [13]:
single

     name image   color
0   apple     üçè     NaN
1    pear     üçê     NaN
2  tomato     üçÖ     NaN
3   lemon     üçã     NaN
0  tomato     üçÖ     red
1  potato     ü•î   brown
2  carrot     ü•ï  orange

In [14]:
# single.loc[1:2, :]  # KeyError

In [15]:
multivitamin = pd.concat([fruits, veggies], keys=["fruits", "veggies"])

In [16]:
multivitamin

             name image   color
fruits  0   apple     üçè     NaN
        1    pear     üçê     NaN
        2  tomato     üçÖ     NaN
        3   lemon     üçã     NaN
veggies 0  tomato     üçÖ     red
        1  potato     ü•î   brown
        2  carrot     ü•ï  orange

In [17]:
multivitamin.loc[("fruits", 1):("fruits", 2), :]

            name image color
fruits 1    pear     üçê   NaN
       2  tomato     üçÖ   NaN

In [18]:
multivitamin.loc[("veggies", 1):("veggies", 2), :]

             name image   color
veggies 1  potato     ü•î   brown
        2  carrot     ü•ï  orange

In [19]:
pd.concat?

In [20]:
pd.concat([fruits, veggies], ignore_index=True)

     name image   color
0   apple     üçè     NaN
1    pear     üçê     NaN
2  tomato     üçÖ     NaN
3   lemon     üçã     NaN
4  tomato     üçÖ     red
5  potato     ü•î   brown
6  carrot     ü•ï  orange

In [21]:
pd.concat([fruits, veggies], axis="columns", ignore_index=True)

        0  1       2       3    4
0   apple  üçè  tomato     red    üçÖ
1    pear  üçê  potato   brown    ü•î
2  tomato  üçÖ  carrot  orange    ü•ï
3   lemon  üçã     NaN     NaN  NaN

In [22]:
pd.concat([fruits, veggies], axis="rows", join="outer")

     name image   color
0   apple     üçè     NaN
1    pear     üçê     NaN
2  tomato     üçÖ     NaN
3   lemon     üçã     NaN
0  tomato     üçÖ     red
1  potato     ü•î   brown
2  carrot     ü•ï  orange

In [23]:
pd.concat([fruits, veggies], axis="rows", join="inner")

     name image
0   apple     üçè
1    pear     üçê
2  tomato     üçÖ
3   lemon     üçã
0  tomato     üçÖ
1  potato     ü•î
2  carrot     ü•ï

In [24]:
pd.concat([fruits, veggies], axis="columns", join="inner")

     name image    name   color image
0   apple     üçè  tomato     red     üçÖ
1    pear     üçê  potato   brown     ü•î
2  tomato     üçÖ  carrot  orange     ü•ï

In [25]:
pd.merge(fruits, veggies)

     name image color
0  tomato     üçÖ   red

In [26]:
pd.merge?

In [27]:
pd.merge(fruits, veggies, how="inner")

     name image color
0  tomato     üçÖ   red

In [28]:
pd.merge(fruits, veggies, how="outer")

     name image   color
0   apple     üçè     NaN
1    pear     üçê     NaN
2  tomato     üçÖ     red
3   lemon     üçã     NaN
4  potato     ü•î   brown
5  carrot     ü•ï  orange

In [29]:
pd.merge(fruits, veggies, how="left")

     name image color
0   apple     üçè   NaN
1    pear     üçê   NaN
2  tomato     üçÖ   red
3   lemon     üçã   NaN

In [30]:
pd.merge(fruits, veggies, how="right")

     name image   color
0  tomato     üçÖ     red
1  potato     ü•î   brown
2  carrot     ü•ï  orange

In [31]:
veggies

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï

In [32]:
fruits["taste"] = ["sweet", "sweet", "sour", "sour"]

In [33]:
fruits

     name image  taste
0   apple     üçè  sweet
1    pear     üçê  sweet
2  tomato     üçÖ   sour
3   lemon     üçã   sour

In [34]:
pd.merge(fruits, veggies, how="right")

     name image taste   color
0  tomato     üçÖ  sour     red
1  potato     ü•î   NaN   brown
2  carrot     ü•ï   NaN  orange

In [37]:
fruits = fruits.drop("taste", axis="columns")

In [38]:
fruits

     name image
0   apple     üçè
1    pear     üçê
2  tomato     üçÖ
3   lemon     üçã

In [41]:
pd.merge(fruits, veggies, on=["name", "image"])

     name image color
0  tomato     üçÖ   red

In [40]:
pd.merge(fruits, veggies, on="name")

     name image_x color image_y
0  tomato       üçÖ   red       üçÖ

In [42]:
pd.merge(fruits, veggies, on="image")

   name_x image  name_y color
0  tomato     üçÖ  tomato   red

In [43]:
pd.merge(fruits, veggies, on="color")

KeyError: 'color'

In [46]:
pd.merge?

In [47]:
fruits

     name image
0   apple     üçè
1    pear     üçê
2  tomato     üçÖ
3   lemon     üçã

In [48]:
veggies

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï

In [49]:
pd.merge(fruits, veggies, left_index=True, right_index=True)

   name_x image_x  name_y   color image_y
0   apple       üçè  tomato     red       üçÖ
1    pear       üçê  potato   brown       ü•î
2  tomato       üçÖ  carrot  orange       ü•ï

In [50]:
orchard = [
    {"name": "apple", "image": "üçè", "amount": 1},
    {"name": "pear", "image": "üçê", "amount": 3},
    {"name": "tomato", "image": "üçÖ", "amount": 0},
    {"name": "lemon", "image": "üçã", "amount": 1},
]

garden = [
    {"name": "tomato", "color": "red", "image": "üçÖ"},
    {"name": "potato", "color": "brown", "image": "ü•î"},
    {"name": "carrot", "color": "orange", "image": "ü•ï"}
]

fruits = pd.DataFrame(orchard)
veggies = pd.DataFrame(garden)

In [51]:
fruits

     name image  amount
0   apple     üçè       1
1    pear     üçê       3
2  tomato     üçÖ       0
3   lemon     üçã       1

In [52]:
veggies

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï

In [53]:
pd.merge(fruits, veggies, left_on="amount", right_index=True)

   name_x image_x  amount  name_y  color image_y
0   apple       üçè       1  potato  brown       ü•î
3   lemon       üçã       1  potato  brown       ü•î
2  tomato       üçÖ       0  tomato    red       üçÖ

In [55]:
pd.merge(fruits, veggies, left_on="amount", right_index=True, suffixes=["_f", "_v"])

   name_f image_f  amount  name_v  color image_v
0   apple       üçè       1  potato  brown       ü•î
3   lemon       üçã       1  potato  brown       ü•î
2  tomato       üçÖ       0  tomato    red       üçÖ

In [56]:
pd.merge?

In [58]:
pd.merge(fruits, veggies, how="cross", suffixes=["_fruits", "_veggies"])

   name_fruits image_fruits  amount name_veggies   color image_veggies
0        apple            üçè       1       tomato     red             üçÖ
1        apple            üçè       1       potato   brown             ü•î
2        apple            üçè       1       carrot  orange             ü•ï
3         pear            üçê       3       tomato     red             üçÖ
4         pear            üçê       3       potato   brown             ü•î
5         pear            üçê       3       carrot  orange             ü•ï
6       tomato            üçÖ       0       tomato     red             üçÖ
7       tomato            üçÖ       0       potato   brown             ü•î
8       tomato            üçÖ       0       carrot  orange             ü•ï
9        lemon            üçã       1       tomato     red             üçÖ
10       lemon            üçã       1       potato   brown             ü•î
11       lemon            üçã       1       carrot  orange             ü•ï

In [59]:
pd.merge(fruits, veggies)

     name image  amount color
0  tomato     üçÖ       0   red

In [60]:
fruits

     name image  amount
0   apple     üçè       1
1    pear     üçê       3
2  tomato     üçÖ       0
3   lemon     üçã       1

In [61]:
fruits = pd.concat(
    [fruits, pd.DataFrame([{"name": "orange", "image": "üçä", "amount": 10}])],
    ignore_index=True,
)

In [62]:
fruits

     name image  amount
0   apple     üçè       1
1    pear     üçê       3
2  tomato     üçÖ       0
3   lemon     üçã       1
4  orange     üçä      10

In [63]:
veggies

     name   color image
0  tomato     red     üçÖ
1  potato   brown     ü•î
2  carrot  orange     ü•ï

In [64]:
pd.merge(fruits, veggies, left_on="name", right_on="color")

   name_x image_x  amount  name_y   color image_y
0  orange       üçä      10  carrot  orange       ü•ï

In [65]:
pd.merge(fruits, veggies, left_on="image", right_on="name")

Empty DataFrame
Columns: [name_x, image_x, amount, name_y, color, image_y]
Index: []

In [67]:
merged = pd.merge(fruits, veggies, how="outer")

In [68]:
merged.dtypes

name       object
image      object
amount    float64
color      object
dtype: object

In [69]:
fruits.dtypes

name      object
image     object
amount     int64
dtype: object

In [70]:
merged

     name image  amount   color
0   apple     üçè     1.0     NaN
1    pear     üçê     3.0     NaN
2  tomato     üçÖ     0.0     red
3   lemon     üçã     1.0     NaN
4  orange     üçä    10.0     NaN
5  potato     ü•î     NaN   brown
6  carrot     ü•ï     NaN  orange

In [72]:
pd.merge(fruits, veggies).dtypes

name      object
image     object
amount     int64
color     object
dtype: object